node_modules
npm-debug.log
client/src/compiled/
/.history
# dist folder
dist
mern/client/.eslintcache

mern/db/data-volume/
ml/.coverage
ml/logs/
kaggle/mask_rcnn_coco.h5
kaggle/fashion*/

kaggle/submission.csv
